{
  "policies": {
    "Certificates": {
      "ImportEnterpriseRoots": true,
      "Install": [
        {{ query('fileglob', '/usr/local/share/ca-certificates/*') | map('regex_replace', '^', '"') | map('regex_replace', '$', '"') | join(',\n') }}
      ]
    }
  }
}